.btn {
  background-color: rgb(100, 94, 185);
  display: block;
  margin: 10px 0
}
.details {
  border: 1px solid rgb(100, 94, 185);
  margin: 5px 0;
}
.details p {
  color: green
}
.details span {
  color: black;
  
}